aiohttp
colorama
databricks-sql-connector
defog==0.65.9
fastapi
google-auth
google-cloud-bigquery
httpx
hypercorn
matplotlib
mysql-connector-python
numpy
pandas
pandasql
psycopg2-binary
python-dotenv
pyyaml
redis
redshift_connector
requests
resend
scikit-learn
scipy
seaborn
snowflake-connector-python
sqlalchemy
statsmodels
tabulate
sqlparse